<?xml version="1.0" encoding="utf-8"?>
<DockPanel FormatVersion="1.0" DockLeftPortion="321" DockRightPortion="300" DockTopPortion="300" DockBottomPortion="105" ActiveDocumentPane="2" ActivePane="2">
  <Contents Count="10">
    <Content ID="0" PersistString="Byt.WorkSpace.Windows.ProjectManagerWindow" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="1" PersistString="Byt.WorkSpace.Windows.ErrorListWindow" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="2" PersistString="Byt.WorkSpace.Windows.TextFindWindow" AutoHidePortion="191" IsHidden="False" IsFloat="False" />
    <Content ID="3" PersistString="Byt.WorkSpace.Windows.OutputWindow" AutoHidePortion="163" IsHidden="False" IsFloat="False" />
    <Content ID="4" PersistString="Byt.WorkSpace.Windows.DeploymentWindow" AutoHidePortion="163" IsHidden="False" IsFloat="False" />
    <Content ID="5" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byUser\identity.by|282|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="6" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byUser\identity.dialog.by|828|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="7" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byUser\identity.dialog.method.by|27075|0|CrLf|||583" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="8" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byUser\identity.dialog.property.by|6251|0|CrLf|||55" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="9" PersistString="Byt.WorkSpace.Windows.DocumentWindow|..\..\..\Product\IDE\Environment\lib\base\by.byz!\object.by|9213|0|CrLf|||110" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
  </Contents>
  <Panes Count="3">
    <Pane ID="0" DockState="DockLeft" ActiveContent="0">
      <Contents Count="1">
        <Content ID="0" RefID="0" />
      </Contents>
    </Pane>
    <Pane ID="1" DockState="DockBottom" ActiveContent="4">
      <Contents Count="4">
        <Content ID="0" RefID="1" />
        <Content ID="1" RefID="2" />
        <Content ID="2" RefID="3" />
        <Content ID="3" RefID="4" />
      </Contents>
    </Pane>
    <Pane ID="2" DockState="Document" ActiveContent="9">
      <Contents Count="5">
        <Content ID="0" RefID="5" />
        <Content ID="1" RefID="6" />
        <Content ID="2" RefID="7" />
        <Content ID="3" RefID="8" />
        <Content ID="4" RefID="9" />
      </Contents>
    </Pane>
  </Panes>
  <DockWindows>
    <DockWindow ID="0" DockState="Document" ZOrderIndex="1">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="2" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="1" DockState="DockLeft" ZOrderIndex="2">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="0" PrevPane="-1" Alignment="Bottom" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="2" DockState="DockRight" ZOrderIndex="4">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="3" DockState="DockTop" ZOrderIndex="5">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="4" DockState="DockBottom" ZOrderIndex="3">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="1" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
  </DockWindows>
  <FloatWindows Count="0" />
</DockPanel>