<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>用户库，统一登录，启用安全的RSA证书加密</Description>
    <PackagePath>..\..\..\lib</PackagePath>
    <References>
        <Hint FilePath="..\..\..\..\Product\IDE\Environment\lib\base\by.byz" />
        <Hint FilePath="..\..\..\lib\byExternalSMS.byz" />
        <Hint FilePath="..\..\..\lib\byLog.byz" />
    </References>
</Ku>